{% extends "baseArticle.html" %}

<!--
{% block title %}{{ page.title }}{%endblock%}
{% block content %}
    <h1>{{ page.title }}</h1>
    {{ page.content }}
{% endblock %}
-->

{% block content %}
{{ super() }}
<section id="post" class="post hentry">
    <header>
    <h2 class="post-title" >{{ page.title }}</h2>
    </header>
    <div class="post-entry">
       {{ page.content }}
    </div><!-- /.entry-content -->
    <footer class="post-meta">
	    
		<span class="meta-prep">{{AUTHOR}}&nbsp;发布于</span>
        <abbr class="date">
            <span>&nbsp;{{ article.locale_date }}</span>
        </abbr>
        <span class="meta-prep">&nbsp;&nbsp;分类:</span>
        <abbr class="category">
            <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
        </abbr>
    </footer>
	<!-- JiaThis Button BEGIN -->
	<div class="jiathis_style">
		<span class="jiathis_txt">分享到：</span>
		<a class="jiathis_button_qzone">QQ空间</a>
		<a class="jiathis_button_tsina">新浪微博</a>
		<a class="jiathis_button_tqq">腾讯微博</a>
		<a class="jiathis_button_weixin">微信</a>
		<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
		<a class="jiathis_counter_style"></a>
	</div>
	<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>


</section>

{% endblock %}
