{% extends "baseArticle.html" %}
{% block content %}
{{ super() }}

<div id="blog-archives" class="category">
{% for year, year_articles in articles|groupby('date.year')|sort(reverse=True) %}
<div class="yearClass"><span>{{ year_articles[0].date.strftime('%Y')}}</span></div>
{% for article in year_articles %}
<article>
    <div id="ev_article">
	<dd>
	    <!--手机页面时隐藏-->
		<div class="archives_year" id="moth_day">
			<time datetime="{{ article.date.isoformat()}}" pubdate>
				<span class='month'>{{ article.date.strftime('%m') }}</span>
				<span class='day'>{{ article.date.strftime('%d') }}</span>
				<span class='year'>{{ year }}</span>
			</time>
		</div>
	</dd>
	<dd>
		<div class="archives_year">
		    <!--
			<time datetime="{{ article.date.isoformat()}}" pubdate>
				<span class='month'>{{ article.date.strftime('%m') }}</span>
				<span class='day'>{{ article.date.strftime('%d') }}</span>
				<span class='year'>{{ year }}</span>
			</time>
			-->
			<h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
		</div>
		<!--
		<span class="archives_year">
			<time datetime="{{ article.date.isoformat()}}" pubdate>
				<span class='year'>{{ year }}</span>
				<span class='month'>{{ article.date.strftime('%m') }}</span>
				<span class='day'>{{ article.date.strftime('%d') }}</span>
			</time>
			<h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
		</span>
		-->
	</dd>
	<dd>
		<footer class="post-meta" id="archive_footer">
			<!--仅在手机页面时和分类一起显示时间-->
			<span class="meta prep moth_year_day">
				<time datetime="{{ article.date.isoformat()}}" pubdate>
					<span class='month'>{{ article.date.strftime('%m') }}</span>
					<span class='day'>{{ article.date.strftime('%d') }}</span>
					<span class='year' id="mobile_year">{{ year }}</span>
				</time>
			</span>
			<span class="meta-prep">标签:</span>
			<!--
			<abbr class="category">
				<a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
			</abbr>
			-->
			<abbr class="label">
            {% for tag in article.tags %}
                <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
            {% endfor %}
			</abbr>
		</footer>
	</dd>
	</div>
</article>
{% endfor %}
{% endfor %}

</div>
{% endblock content%}

