{% extends "base.html" %}
{% block content %}
{{ super() }}

<div>
<ul>
{% for article in articles_page.object_list %}
<li class="posts">
<article class="post hentry" id="entry_article">
	<header>
		<div class="post-info">
			<!-- 使用font-awesome代替文字
		    <span class="post-lable">发布于：</span>
			-->
			<span class="post-lable"><i class="fa fa-calendar"></i></span>
			<abbr class="date" title="{{ article.date.isoformat() }}"> 
				<a href="{{ SITEURL }}/archives/{{article.date|strftime("%Y/index.html")}}">{{ article.locale_date }} </a>
			</abbr>
			<!--分割线-->
			<span class="middle-stub"></span>
			<!-- 使用font-awesome代替文字
		    <span class="post-lable">分类：</span>
			-->
			<span class="post-lable"><i class="fa fa-folder"></i></span>
			<abbr class="category">
				<a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
			</abbr>
			<!-- COMMENTS -->
		</div>
		<h1 class="title" >
			<a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
		</h1>
	</header>
	<div class="summary">
		<!--
		<div>{{ article.content|truncate(1000) }}</div>-->
		<div>{{ article.content }}</div>
	</div>
	<footer>
		<div class="readmore">
			<span class="more"><a href="{{ SITEURL }}/{{ article.url }}">继续阅读</a></span>
		</div>
	</footer>
</article>
</li>
{% endfor %}
<hr/>
</ul>
</div>
{% include 'pagination.html' %}
{% endblock content%}

