{% extends "baseArticle.html" %}

{% block content %}
{{ super() }}
<section id="post" class="post hentry">
	
	<a class="douban_book" href="http://book.douban.com/subject/bookID/" name="bookID">bookName</a>
	<script type="text/javascript" src="http://www.douban.com/service/badge/120895549/?selection=latest&amp;picsize=small&amp;hideself=on&amp;show=wishlist&amp;n=20&amp;hidelogo=on&amp;cat=book&amp;columns=4"></script>
	
	<div id="div_douban_wrapper">
	<span class="douban_close" title="close"></span>
	<div id="div_douban_content" class="group"></div>
	<div class="douban_footer">Powered by <a href="http://www.douban.com/" target="_blank">Douban</a></div>
	</div>
	<script type="text/javascript">
	$(document).ready(function(){
		(function(){
			var url = '{{ SITEURL }}/theme/js/bouban_book.js';
			var script =  document.createElement("script");
			script.src = url;
			document.body.appendChild(script);
		})();
	});
	</script>

	
	<!-- /.entry-content -->
	<!-- bshare Button BEGIN -->
	<div id="bshare-div">
	  <div class="bshare-custom">
		<a title="分享到" href="http://www.bShare.cn/" id="bshare-shareto" class="bshare-more">分享到</a>
		<a title="分享到微信" class="bshare-weixin"></a>
		<a title="分享到有道云笔记" class="bshare-youdaonote"></a>
		<a title="分享到豆瓣" class="bshare-douban"></a>
		<a title="分享到电子邮件" class="bshare-email"></a>
		<a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
		<a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
		<span class="BSHARE_COUNT bshare-share-count">0</span>
	  </div>
	  
	  <script type="text/javascript" charset="utf-8" src="{{ SITEURL }}/theme/js/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
	  <script type="text/javascript" charset="utf-8" src="{{ SITEURL }}/theme/js/bshareC0.js"></script>
	</div>
	<!-- bshare Button END -->

	
</section>

{% endblock %}
